<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <link rel="stylesheet" href="/stylesheets/forms.css" />
    <link rel="stylesheet" href="/stylesheets/messages.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="overlay"></div>
    <%- include('partials/header') %> <%- include('partials/messageForm') %>
    <main>
      <div class="mid-page">
        <h1 class="page-title">Activity</h1>
      </div>
      <% if(currentUser){%> <%}%>
      <div id="add-msg-container" class="mid-page">
        <span>Add a new message</span>
        <button id="add-msg" type="button">+</button>
      </div>

      <section class="message-board">
        <% if(messages){%> <%messages.forEach((message) => {%>
        <article class="message">
          <div class="message-info">
            <span>Codename: <%- message.username %></span>
            <span>
              <%- new Date(message.timestamp).toISOString().split('T')[0] %> <%-
              new Date(message.timestamp).toTimeString().split(' ')[0] %>
            </span>
          </div>
          <div>
            <h2 class="message-title"><%-message.title%></h2>
          </div>
          <div class="message-text">
            <p><%-message.text%>></p>
          </div>
        </article>
        <%})%> <%};%>
      </section>
    </main>
  </body>
  <script src="/js/indexScripts.js"></script>
</html>
